@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: rgba(255, 255, 255, 0.5);
}
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.blue-gradient{
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  background-image: linear-gradient(180deg, rgb(37 99 235) 0%, #80D0C7 100%);
  
  
}
.blue-gradient1{
  background-color: #21D4FD;
background-image: linear-gradient(180deg, #21D4FD 0%, #B721FF 100%);

}
.violet-gradient{
  background-color: #FF3CAC;
background-image: linear-gradient(0deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}